.imgcontrato,html,body{
    height:270mm;
    width:199mm;
    margin-top: 0px;
    margin-left: 0px;
}
@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
     body{
            width: 21cm;
            height: 29.7cm;
            margin: 0mm 0mm 0mm mm;
            /* change the margins as you want them tobe. */
       }
}
html *
{
   font-size: 0.93em !important;
   color: #000 !important;
   font-family: Tahoma !important;
}
